.tabs {
  display: table;
  width: 100%;
  margin-top: 10px;
  padding-top: 10px;
  border-top: solid 1px $tabs-base-color;

  &, * {
    box-sizing: border-box;
  }

  ul {
    position: relative;
    margin: 0;
    list-style: none;
    text-align: left;
  }

  li {
    display: inline-block;
    margin: 0;

    &:first-child {
      margin-left: 0;
    }
  }

  input[type="radio"] {
    position: absolute;
    top: 0;
    left: -9999px;
  }

  label {
    position: relative;
    display: block;
    top: 4px;
    padding: 5px 40px 5px 10px;
    border-radius: 2px 2px 0 0;
    background: $tabs-base-color;
    cursor: pointer;

    &:after {
      position: absolute;
      top: 0;
      right: 0;
      width: 0;
      height: 0;
      line-height: 0;
      border-style: solid;
      content: " ";
      border-width: 0 20px 30px 0;
      border-color: $background $background $tabs-base-color $background;
    }

    &:hover {
      background: darken($tabs-base-color, 10);

      &:after {
        border-color: $background $background darken($tabs-base-color, 10) $background;
      }
    }
  }

  .tab-content {
    position: absolute;
    display: none;
    width: 100%;
    padding: 25px;
    z-index: 2;
    overflow: hidden;
    left: 0;
    background: $tabs-base-color;
  }

  // THE MAGIC
  [id^="tab"]:checked + label {
    top: 0;
    background: $tabs-base-color;

    &:after {
      border-color: $background $background $tabs-base-color $background;
    }
  }

  [id^="tab"]:checked ~ [id^="tab-content"] {
    display: block;
  }
}
