@import "../../bower_components/chico/src/shared/styles/boxes",
  "../../bower_components/chico/src/ui/styles/tabs";

.ch-tabs {
  display: table;
  width: 100%;
  margin-top: 10px;
  padding-top: 10px;
  border-top: solid 1px $tabs-base-color;

  &, * {
    box-sizing: border-box;
  }

  ul.ch-tabs-triggers {
    position: relative;
    margin: 0;
    overflow: visible;
    list-style: none;
    text-align: left;

    li {
      display: inline-block;
      margin: 0 5px 0 0;
    }
  }

  input[type="radio"] {
    position: absolute;
    top: 0;
    left: -9999px;
  }

  label {
    position: relative;
    display: inline-block;
    cursor: pointer;
    z-index: 3;
  }

  .ch-tabs-panel {
    @extend .ch-box-lite;
    position: absolute;
    display: none;
    width: 100%;
    margin-top: -1px;
    z-index: 2;
    overflow: hidden;
    left: 0;
    cursor: initial;
  }

  // THE MAGIC
  [id^="tab"]:checked + label {
    @extend .ch-expandable-trigger-on;
  }

  [id^="tab"]:checked ~ [id^="tab-content"] {
    display: block;
  }
}
