.user-comments {
  &, li {
    display: block;
    cursor: inherit;
  }

  h5, h6 {
    margin: 0;
    padding: 0;
  }

  h5, div {
    color: $user-comments-buyer-color;
  }

  h6, ul div {
    color: $user-comments-seller-color;
  }

  h6 {
    @extend h5;
  }

  ul {
    margin-top: 10px;
  }

  div {
    padding: 10px 20px;
    background-color: $user-comments-question-background-color;
  }

  ul div {
    background-color: $user-comments-answer-background-color;
  }
}
