$background: #FFF;
$tabs-border-top-color: #EFEFEF;
$price-color: #9B0000;
$user-comments-buyer-color: #0E5699;
$user-comments-question-background-color: #CEE2FD;
$user-comments-seller-color: #47822A;
$user-comments-answer-background-color: #DBECD3;
